{% extends "base.html" %}
{% load static%}
{% load widget_tweaks %}
{% block title %}Rental - Make request{% endblock %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Create Request</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'rentalDashboard'%}">Rentals</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Request</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Make a rental request <small>select facility below</small></h5>
            </div>
            <div class="ibox-content">
                <form method="post" novalidate>
                    {% csrf_token %}

                    {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field }}
                    {% endfor %}

                    {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}

                        {% if form.is_bound %}
                        {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback">
                            {{ error }}
                        </div>
                        {% endfor %}
                        {% else %}
                        {% render_field field class="form-control is-valid" %}
                        {% endif %}
                        {% else %}
                        {% render_field field class="form-control" %}
                        {% endif %}

                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_script %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/datetimepicker-master/jquery.datetimepicker.css' %}"/>
<script src="{% static 'plugins/datetimepicker-master/build/jquery.datetimepicker.full.min.js' %}"></script>
<script>
    $("#id_begin").attr("autocomplete", "off");
    $("#id_end").attr("autocomplete", "off");
    jQuery('#id_begin').datetimepicker({ format: 'd.m.Y H:i:00' });
    jQuery('#id_end').datetimepicker({ format: 'd.m.Y H:i:00' });
</script>
{% endblock %}
