{% extends "base.html" %}
{% load static%}
{% load widget_tweaks %}
{% block title %}Rental - Dashboard{% endblock %}
{% block breadcrumb %}
<div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Dashboard</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'rentalDashboard'%}">Rentals</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>Dashboard</strong>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block main_content %}
<div class="row">
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-content ibox-heading">
                <h3><i class="fa fa-envelope-o"></i>  {{ req_pending_count }} Pending Requests </h3>
            </div>
            <div class="ibox-content">
                <div class="feed-activity-list">
{% for req in req_pending %}
                    <div class="feed-element" style="cursor: pointer;" data-location = "{% url 'requestDetail' req.slug %}">
                        <div>
                            <small class="float-right text-navy">{{ req.begin|date:'d.m.Y' }}</small>
                            <strong>{{ req.facility }} : {{ req.firstname }} {{ req.surname }}</strong>
                            <div>{{req.reason}}
                            </div>
                            <small class="text-muted">{{ req.begin|date:'d.m.Y H:i' }} to {{ req.end|date:'d.m.Y H:i' }}</small>
                        </div>
                    </div>
{% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-content ibox-heading">
                <h3><i class="fa fa-clock-o"></i>  {{ req_accepted_count }}  Accepted Requests </h3>
            </div>
            <div class="ibox-content">
                <div class="feed-activity-list">
{% for req in req_accepted %}
                    <div class="feed-element" style="cursor: pointer;" data-location = "{% url 'requestDetail' req.slug %}">
                        <div>
                            <small class="float-right text-navy">{{ req.begin|date:'d.m.Y' }}</small>
                            <strong>{{ req.facility }} : {{ req.firstname }} {{ req.surname }}</strong>
                            <div>{{req.reason}}
                            </div>
                            <small class="text-muted">{{ req.begin|date:'d.m.Y H:i' }} to {{ req.end|date:'d.m.Y H:i' }}</small>
                            <hr>
                            <div>Accepted by {{req.responsibleMember.get_full_name}}</div>
                        </div>
                    </div>
{% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-content ibox-heading">
                <h3><i class="fa fa-angle-double-right"></i>  {{ req_running_count }} Running Rentals </h3>
            </div>
            <div class="ibox-content">
                <div class="feed-activity-list">
{% for req in req_running %}
                    <div class="feed-element" style="cursor: pointer;" data-location = "{% url 'requestDetail' req.slug %}">
                        <div>
                            <small class="float-right text-navy">{{ req.begin|date:'d.m.Y' }}</small>
                            <strong>{{ req.facility }} : {{ req.firstname }} {{ req.surname }}</strong>
                            <div>{{req.reason}}
                            </div>
                            <small class="text-muted">{{ req.begin|date:'d.m.Y H:i' }} to {{ req.end|date:'d.m.Y H:i' }}</small>
                        </div>
                    </div>
{% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-content ibox-heading">
                <h3><i class="fa fa-check"></i>  {{ req_finished_count }} Finished Requests </h3>
            </div>
            <div class="ibox-content">
                <div class="feed-activity-list">
{% for req in req_finished %}
                    <div class="feed-element content" style="cursor: pointer;" data-location = "{% url 'requestDetail' req.slug %}">
                        <div>
                            <small class="float-right text-navy">{{ req.begin|date:'d.m.Y' }}</small>
                            <strong>{{ req.facility }} : {{ req.firstname }} {{ req.surname }}</strong>
                            <div>{{req.reason}}
                            </div>
                            <small class="text-muted">{{ req.begin|date:'d.m.Y H:i' }} to {{ req.begin|date:'d.m.Y H:i' }}</small>
                        </div>
                    </div>
{% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
        <div class="col-lg-3">
                <div class="ibox ">
                    <div class="ibox-content ibox-heading">
                        <h3><i class="fa fa-search"></i>  {{ req_clarify_count }} Requests to clarify </h3>
                    </div>
                    <div class="ibox-content">
                        <div class="feed-activity-list">
        {% for req in req_clarify %}
                            <div class="feed-element" style="cursor: pointer;" data-location = "{% url 'requestDetail' req.slug %}">
                                <div>
                                    <small class="float-right text-navy">{{ req.begin|date:'d.m.Y' }}</small>
                                    <strong>{{ req.facility }} : {{ req.firstname }} {{ req.surname }}</strong>
                                    <div>{{req.reason}}
                                    </div>
                                    <small class="text-muted">{{ req.begin|date:'d.m.Y H:i' }} to {{ req.begin|date:'d.m.Y H:i' }}</small>
                                </div>
                            </div>
        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                    <div class="ibox ">
                        <div class="ibox-content ibox-heading">
                            <h3><i class="fa fa-times-circle"></i>  {{ req_rejected_count }} Rejected Requests </h3>
                        </div>
                        <div class="ibox-content">
                            <div class="feed-activity-list">
            {% for req in req_rejected %}
                                <div class="feed-element" style="cursor: pointer;" data-location = "{% url 'requestDetail' req.slug %}">
                                    <div>
                                        <small class="float-right text-navy">{{ req.begin|date:'d.m.Y' }}</small>
                                        <strong>{{ req.facility }} : {{ req.firstname }} {{ req.surname }}</strong>
                                        <div>{{req.reason}}
                                        </div>
                                        <small class="text-muted">{{ req.begin|date:'d.m.Y H:i' }} to {{ req.begin|date:'d.m.Y H:i' }}</small>
                                    </div>
                                </div>
            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
</div>
{% endblock %}

{% block body_script %}
<script>
$(".feed-element").click(function() {
  window.location = $(this).data("location");
  return false;
});
</script>
{% endblock %}
